body {
  background-color: skyblue;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 100px auto;
  width: 500px;
}

.toggle {
  margin: 20px 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.toggle-button {
  border: none;
  margin: 0;
  background-color: inherit;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 0;
}

.toggle-button:hover {
  color: black;
  font-weight: bold;
}

.active {
  color: black;
  font-weight: bold;
}

.description {
  font-size: 15px;
}

.description::first-letter {
  text-transform: uppercase;
}

.search {
  display: flex;
  width: 100%;
  gap: 10px;
}

#tab-index-input {
  flex: 1;
  border: none;
  border-bottom: 2px solid lightgray;
  padding-bottom: 8px;
  font-size: 15px;
}

#tab-index-input:focus-visible {
  outline: none;
  border-bottom-color: black;
}

#change-tab {
  cursor: pointer;
  border: none;
  font-size: 15px;
  padding: 10px;
}

#change-tab:hover {
  background-color: lightgray;
}
